@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop2 {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin mobile-tablet {
    @media screen and (max-width: 950px) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}